repo gitolite-admin
    RW+     =   gitadmin
    RW+     =   {% for user in gitolite_admins %}{{user}} {% endfor %} 

repo testing
    RW+     =   @all

# include conf.d for unmanaged configuration
include "conf.d/*.conf"
